body {
    margin: 0px;
}

main {
    margin: 0px 10px;
}

* {
    text-decoration: none;
}

nav {
    /* border: 2px solid burlywood; */
    /* border-radius: 1px; */
    padding: 10px;
    display: flex;
    position: sticky;
    background-color: black;
    top: 0px;
    justify-content: space-around;
}

nav > a {
    color: white;
    padding: 3px;
}

h1 {
    text-align: center;
    text-decoration: double underline 3px brown;
    z-index: 1;
    position: relative;
}

p.paragraph {
    text-align: justify;
    /* text-indent: 50px; */
}
p.paragraph::first-letter {
    font-size: 54px;
}

p.title {
    font-size: 18px;
    font-weight: 700;
    /* font-family: 'Times New Roman'; */
    /* font-family: Courier; */
    /* font-family: Verdana; */
    text-transform: capitalize;
    font-family: 'Bungee Spice', verdana;
    /* letter-spacing: 1px;
    word-spacing: 4px; */
}

.box {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    /* display: inline-block; */
}

.box:first-child {
    border-radius: 10px;
}

.box:nth-child(2) {
    border-radius: 40px;
}

.box:hover {
    background-color: green;
    color: white;
}

.box-container {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* flex-direction: row-reverse; */
}

/* #box7 {
    display: none;
} */

.myanchor:visited {
    color: blue
}

.myanchor:link {
    color: purple
}



@media screen and (min-width: 577px) {
    nav {
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 20px;
    }
}

@media screen and (min-width: 768px) {
    nav {
        display: grid;
        grid-template-columns: auto;
        padding-left: 20px;
    }
}