body {
    margin: 0px;
}

h1 {
    /* color:rgb(14, 144, 138); */
    color: #14908a;
    /*  Decimal 0-9 */
    /* Binary 0-1 */
    /* hexadecimal 0 - 9, A,B,C,D,E,F */
    /* background-color: black; */
}

h3, h2, p {
    color:skyblue;
    font-size: 22px;
}

.title {
    text-decoration: underline;
}

h3#title {
    text-decoration: underline;
}

* {
    text-decoration: none;
}

nav {
    border: 2px solid burlywood;
    border-radius: 1px;
    padding: 10px;
}

nav > a {
    /* margin: 3px; */
    padding: 3px;
}