.main {
    margin-top: 100px;
}

.box {
    border: 1px solid black;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    /* margin: auto; */

    transition: all 1s ease-in-out;
    /* transition-delay: 1s; */
    /* transition-timing-function: ease-in; */
}

.box:hover {
    /* width: 200px;
    height: 200px; */
    transform: translate(100px);
}